.container-forgotpassword {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    width: 600px;
    padding-bottom: 30px;
    margin-top: 200px;
    margin-bottom: 15px;
    margin-left: 450px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin-top: 30px;
    margin-right: 25px;
    margin-left: 25px;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
}

.logo-change img {
    width: 150px;
    margin-right: 10px;
}

.text-title{
    color: #00d6d1;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 10px;
}

.underline{
    width: 61px;
    height: 6px;
    background: #00d6d1;
    border-radius: 9px;
}

.inputs{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: #eaeaea;
    border-color: #00d6d1;
    border-style: solid;
    border-width: 2px;
    border-radius: 6px;
}

.input img{
    margin: 0px 30px;
}

.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 19px;
    border-radius: 25px;
}
.trainer-signup{
    padding-left: 62px;
    margin-top: 27px;
    color: #797979;
    font-size: 18px;
}

.trainer-signup button{
    background: transparent;
    color: #004aad;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 18px;
}

.signup-button {
    padding: 10px 15px;
    border: none;
    border-radius: 25px;
    background-color: #004aad;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
}

.signup-button:hover {
    background-color: #00d6d1;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('/Users/inegassiebayle/projects/energym/frontend/src/Components/Assets/background4.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
