/* Modal.css */
html, body {
    height: 100%;
    margin: 0;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999; /* Asegúrate de que esté por encima del contenido */
    pointer-events: auto; /* Captura todos los eventos del puntero */
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000; /* Asegúrate de que esté por encima del overlay */
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    pointer-events: auto; /* Habilita los eventos de puntero dentro del modal */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-header,
.modal-body,
.modal-footer {
    width: 100%;
    padding: 20px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-title {
    font-size: 1.5em;
    padding: 10px 0;
    margin: 0;
    color: black;
}

.modal-close-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.modal-body {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.modal-footer {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.cancel {
    background-color: #f44336;
    color: white;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

.cancel:hover {
    background-color: #d32f2f;
}

.home-components-modification-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
}

.home-components-modification-button:hover {
    background-color: #007bff;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


.modal button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
}

.modal button:hover {
    background-color: #007bff;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

}


.future-full {
    color: red;
    font-weight: bold;
}
