.container-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    width: 650px;
    padding: 40px 20px;
    margin: 80px auto 20px auto;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); /* Sombra más profunda para un efecto 3D */
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.logo img {
    margin-right: 35px;
}


.home-button {
    padding: 15px 30px;
    border: none;
    border-radius: 25px;
    background-color: #004aad;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20px;
    cursor: pointer;
}

.home-button:hover {
    background-color: #00d6d1;
}
