.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    width: 650px;
    padding: 40px 20px;
    margin: 80px auto 20px auto;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); /* Sombra más profunda para un efecto 3D */
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin-top: 30px;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 100px;
}


.logo img {
    width: 150px;
    margin-right: 5px;
}

.text{
    color: #00d6d1;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
}

.underline{
    width: 61px;
    height: 6px;
    background: #00d6d1;
    border-radius: 9px;
}

.inputs{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: #eaeaea;
    border-color: #00d6d1;
    border-style: solid;
    border-width: 2px;
    border-radius: 6px;
}

.input img{
    margin: 0px 30px;
}

.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 19px;
    border-radius: 25px;
}
.signup-button {
    padding: 10px 15px;
    border: none;
    border-radius: 25px;
    background-color: #004aad;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
}

.signup-button:hover {
    background-color: #00d6d1;
}

