.container-delete-room {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f5faff; /* Fondo azul claro */
    width: 70%; /* Ajuste del ancho */
    padding: 40px; /* Espaciado uniforme */
    margin: 60px auto;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 12px; /* Bordes más redondeados */
}

.container-delete-room form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.container-delete-room input,
.container-delete-room select {
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #b3d4fc; /* Borde azul claro */
    background-color: #edf5ff; /* Fondo azul más claro */
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.container-delete-room .form-actions {
    display: flex;
    justify-content: space-between;
}

.container-delete-room button {
    padding: 12px 24px; /* Aumento del espaciado */
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.2s ease;
    width: 48%;
    font-family: 'Poppins', sans-serif;
}


.container-delete-room button.cancel {
    background-color: #007bff; /* Azul claro */
}

.container-delete-room button.confirm {
    background-color: #0000dd; /* Azul claro */
}

.container-delete-room button:hover {
    background-color: #0056b3; /* Azul más oscuro al hacer hover */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.container-delete-room button.confirm:hover,
.container-delete-room button.cancel:hover {
    background-color: #004481; /* Azul más oscuro al hacer hover */
}
