.create-activity-container form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 600px; /* Ancho máximo del contenedor principal */
    margin: auto; /* Centrar el formulario horizontalmente */
    position: relative; /* Añadir posicionamiento relativo */
}

.create-activity-container .form-actions {
    display: flex;
    justify-content: center; /* Centrar los elementos horizontalmente */
    gap: 10px; /* Espacio entre los botones */
}

.create-activity-container button {
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #007bff, #0056b3);
    font-family: 'Poppins', sans-serif;
}

.error-message {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 20px);
    margin-top: 8px;
    padding: 10px;
    background-color: #ffdddd;
    color: #d8000c;
    border: 1px solid #d8000c;
    border-radius: 4px;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 10;
}