.manage-schedule-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    width: 650px;
    padding: 40px 20px;
    margin: 80px auto 20px auto;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.schedule-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    margin-top: 20px;
}

.schedule-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
}

.date-picker label {
    color: #000; /* Cambia el color del texto */
    font-size: 16px; /* Ajusta el tamaño de la fuente según sea necesario */
    font-weight: bold; /* Opcional: ajusta el peso de la fuente según sea necesario */
    margin-bottom: 5px; /* Ajusta el margen inferior según sea necesario */
}

.logo img {
    width: 150px;
    margin-right: 5px;
}

.logo {
    margin-right: 20px;
}

.schedule-actions {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.schedule-button,
.back {
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(145deg, #004aad, #0084d1);
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
}

.schedule-button:not(:last-child) {
    margin-bottom: 10px;
}

.schedule-button:hover,
.back:hover {
    background-image: linear-gradient(145deg, #00d6d1, #00b2aa);
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.back {
    background-image: linear-gradient(145deg, #777, #999);
}

.back:hover {
    background-image: linear-gradient(145deg, #999, #bbb);
}

a {
    text-decoration: none;
}

.schedule-info {
    margin-bottom: 20px; /* Agrega margen inferior al contenedor de las clases */
}

.staff-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.modification-button {
    padding: 8px 16px;
    margin-left: 10px;
    font-size: 14px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

