.manage-rooms-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    width: 650px;
    padding: 40px 20px;
    margin: 80px auto 20px auto;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.manage-rooms-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    margin-top: 20px;
}

.manage-rooms-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;

}

.logo img {
    width: 150px;
    margin-right: 5px;
}

.logo{
    margin-right: 20px;
}

.text{
    color: #00d6d1;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
}

.rooms-actions {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.rooms-button, .back {
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #007bff, #0056b3); /* Gradiente azul vibrante */
    font-family: 'Poppins', sans-serif;
}

.rooms-button:not(:last-child) {
    margin-bottom: 10px;
}

.rooms-button:hover, .back:hover {
    background-image: linear-gradient(145deg, #00d6d1, #00b2aa);
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.back {
    background-image: linear-gradient(145deg, #777, #999);
}

.back:hover {
    background-image: linear-gradient(145deg, #999, #bbb);
}

a {
    text-decoration: none;
}