.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px;
}

.modal-content {
    width: 100%; /* Ajusta el ancho del modal según sea necesario */
}

.modal-title {
    color: #00d6d1;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

.modal-body {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}


.input-field,
.select-activity-container, /* Contenedor del select */
.capacity-input { /* Asegúrate de que esta clase se aplique al input de capacidad */
    width: calc(100% - 20px); /* Cambia 42px a 20px si el padding es de 10px */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px; /* Espacio debajo de cada input */
    box-sizing: border-box; /* El ancho incluye el padding y el borde */
    display: block; /* Asegúrate de que cada elemento sea un bloque para tomar el ancho completo */
}



.select-activity-container {
    position: relative;
}

.select-activity {
    width: calc(100% - 42px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px; /* Agregar margen inferior para separar los elementos */
}

.activity-options {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    max-height: 150px; /* Ajusta la altura máxima del contenedor de opciones según sea necesario */
    overflow-y: auto;
}

.activity-options div {
    margin-bottom: 5px;
}

.apply-changes,
.cancel {
    width: calc(50% - 20px); /* Ajusta el margen entre botones si es necesario */
    margin-right: 10px; /* Asegúrate de añadir esto solo al botón 'apply-changes' */
    margin-left: 10px; /* Añade esto solo al botón 'cancel' */
    /* Resto de estilos */
}

.apply-changes {
    background-color: #007bff;
    color: #fff;
}

.apply-changes:hover {
    background-color: #0056b3;
}

.cancel {
    background-color: #dc3545;
    color: #fff;
}

.cancel:hover {
    background-color: #c82333;
}
