
.modal {
    padding: 20px;
}

.modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding: 20px;
}

.modal-title {
    padding: 10px 0;
    margin: 0;
    color: black;
}

.modal-close-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.modal-body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.modal-footer {
    display: flex;
    gap: 10px;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
}

.date-input {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-top: 5px;
}

.date-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
}

.modal-button {
    flex: 1;
    padding: 10px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    height: 40px;
}

.cancel {
    background-color: #f44336;
    color: white;
}

.submit {
    background-color: #4CAF50;
    color: white;
}

.modal-checkbox {
    width: auto;
    margin: 0 10px;
    vertical-align: middle;
}

.modal-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

select,
textarea {
    width: 300px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
    resize: vertical;
}


textarea {
    height: 20px;
}

select:focus,
textarea:focus {
    border-color: #0056b3;
}
.clickable-text {
    cursor: pointer;
    color: blue; /* Optional: if you want it to look like a typical hyperlink */
    text-decoration: none; /* Removes underline, but you might add it on hover */
}

.clickable-text:hover {
    text-decoration: underline; /* Optional: adds underline on hover to indicate it's clickable */
}

.modal-main-title {
    font-size: 24px; /* Larger font size for emphasis */
    font-weight: bold; /* Bold to emphasize importance */
    margin-bottom: 0.5em; /* Space below the title */
}

.modal-subtitle {
    font-size: 18px; /* Smaller than main title */
    color: #666; /* Subtle color for less emphasis */
    margin-bottom: 1em; /* Space below the subtitle */
}

.modal-header {
    padding-bottom: 0; /* Remove extra padding if not needed */
}