.modalStaff {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: calc(100% - 10px); /* Increased width */
    max-height: 120vh; /* Maximum height before scrolling */
    overflow-y: auto; /* Enables scrolling */
    z-index: 1000; /* Ensure the modal is above other elements */
}

.modal-header {
    margin-left: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.modal-title {
    color: #00d6d1;
    font-size: 20px;
    font-weight: 600;
}

.modal-body {
    padding: 20px;
    max-height: 1000vh; /* Adjust the max-height as needed */
    overflow-y: auto; /* Allow scroll if content overflows */
}

.review-square {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #e0e0e0;
}

.reviews-container {
    max-height: 300px; /* Set a fixed height to enable scrolling within this container */
    background-color: #FFFFFF;

    overflow-y: auto; /* Enables scrolling for overflowing content */
}

.reviews-container p {
    font-weight: bold;
    margin-bottom: 10px;
}

.review-square h4 {
    font-size: 18px;
    margin-bottom: 5px;
}

.review-square p {
    font-size: 16px;
    margin-bottom: 10px;
}

.review-square img {
    width: 20px;
    margin-right: 2px;
}

.modal-footer {
    padding-top: 10px;
    border-top: 1px solid #ccc;
    text-align: right;
}

.cancel {
    padding: 10px 20px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
}

.cancel:hover {
    background-color: #c82333;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Arial', sans-serif;
}

button {
    font-size: 16px;
}
